<%- include('./inc/header') %> 
  <%- include('./inc/navbar') %>
	<section>
		<div class="container">
			<div class="row">
        <%- include('./inc/category') %> 
				<%- include('./inc/item') %> 
			</div>
		</div>
	</section>
	
<%- include('./inc/footer') %> 